<!--h1>This is the show page for an individual instance of your model.</h1-->

<h2><%= @movie.title %></h2>
  <p><%= @movie.category %></p>
    <p><%= @movie.rating %></p>
  <!--p><a href="/movies/<%=# @movie.id %>/edit">Edit</a></!--p>
<form-- method="POST" action="/movies/<%=# @movie.id %>">
  <input id="hidden" type="hidden"  name="_method" value="delete" />
  <input type="submit" value="Delete" />
  </form-->
